body {
    min-height: 350px;
}

.calendar .day, .calendar .today {
    background: #f57c00;
    color: #fff;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    padding: 0px;
}

.months {
    height: 50%;
    width: 50%;
    border: solid black;
}

/* #fenetre {
    height: 80%;
    width: 80%;
    border: inset black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
} */

.container-fluid {
    box-shadow: gray 2px 10px 5px 5px;
    width: 85%;
    margin-bottom: 15px;
}

.arrow {
    color: white;
}

.arrow:hover {
    color: rgb(255, 230, 5);
    transition: 0.2s;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

th, td, label {
    color: black;
    font-weight: bold;
    height: 80px;
}

tr {
    justify-content: center;
    font-weight: bold;
}

th, tr, td {
    vertical-align: middle !important;
}

#jours {
    background-color: #F57C00;
}

img {
    width: 3em;
}

#header {
    line-height: 1em;
}

#dateJour {
    color: white;
    font-weight: bold;
    padding: 30px;
    font-size: 23px;
}